<h1>List of dwylbot installations</h1>
<ul>
  <%= for installation <- @installations do %>
    <li>
      <%= installation["account"]["login"] %> -
      <%= link "see repositories", to: installation_path(@conn, :show, installation["id"]) %>
    </li>
  <% end %>
</ul>
<%= link "Manage Installations", to: "https://github.com/apps/#{@app_name}", class: "btn btn-primary" %>
